.formWrapper {
  display: flex;
  justify-content: space-between;
}
.text {
  text-align: center;
  margin: 20px auto;
}
.text h1 {
  font-size: 36px;
  margin-bottom: 10px;
  background: linear-gradient(to right, #1e3a8a, #3b82f6, #9333ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline;
}
.text p {
  font-size: 22px;
  color: #4b5563;
}
.contactBoxes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.contactBox {
  transition: transform 0.2s ease;
  transform: scale(1);
  width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: -2px 5px 6px rgba(0, 0, 0, 0.12), 2px -2px 2px rgba(0, 0, 0, 0.08);
}
.contactBox:hover {
  transform: scale(1.08);
}
.contactBox img {
  width: 60px;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}
.firstBox {
  background: linear-gradient(to right, #60a5fa, #a855f7);
}
.secondBox {
  background: linear-gradient(to right, #4ade80, #3b82f6);
}
.thirdBox {
  background: linear-gradient(to right, #c084fc, #ec4899);
}
.fourthBox {
  background: linear-gradient(to right, #facc15, #f97316);
}
.contactBox h3 {
  font-size: 20px;
  margin: 10px auto;
}
.contactBox p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #4b5563;
}
.contactBox span {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 600;
}

/* form section */
.formContainer {
  width: 50%;
}
.form {
  display: inline-block;
  flex-direction: column;
  padding: 20px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: -2px 5px 6px rgba(0, 0, 0, 0.12), 2px -2px 2px rgba(0, 0, 0, 0.08);
}
.form h2 {
  margin-bottom: 30px;
}
.formHeader {
  display: flex;
  gap: 50px;
  margin-bottom: 25px;
}
.title {
  font-size: 18px;
  font-weight: 550;
  color: #1f2937;
  margin: 10px 5px;
  display: block;
}
.formHead {
  display: flex;
  flex-direction: column;
}
.formLabel {
  width: 250px;
}
.categoryForm {
  margin: 10px auto;
  border: 0;
  width: 95%;
  margin-bottom: 30px;
}
.categoryForm:focus {
  outline: none;
}
option {
  width: 20px;
  color: #4b5563;
}
textarea {
  resize: none;
  border: 0;
  width: 100%;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  top: 10px;
  border: 2px solid rgb(229, 231, 235);
  height: 100%;
  min-height: 100px;
  margin-bottom: 30px;
}
textarea:focus {
  outline: none;
}
textarea::placeholder {
  font-size: 18px;
}
.formBtn {
  padding: 7px 200px;
  font-size: 18px;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(to right, #1e3a8a, #3b82f6, #9333ea);
  color: #fff;
  transition: all 0.5s ease;
  transform: scale(1);
}
.formBtn:hover {
  transform: scale(1.05);
}
.formBtn:hover img {
  margin-right: 10px;
}
.formBtn img {
  transition: all 0.5s ease;
  width: 20px;
  height: 20px;
  margin: 5px 5px 0 0;
}

/* second part start */
.supportOptions {
  width: 50%;
  margin-top: 50px;
  padding: 15px;
}
.supportBox img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  padding: 12px;
  margin-right: 20px;
  background: linear-gradient(to right, #1e3a8a, #3b82f6, #9333ea);
}
.supportOptions h1 {
  font-size: 30px;
  margin-bottom: 15px;
}
.supportBox {
  display: flex;
  border-radius: 15px;
  padding: 15px;
  margin: 20px auto;
  box-shadow: -2px 5px 6px rgba(0, 0, 0, 0.12), 2px -3px 2px rgba(0, 0, 0, 0.08);
}
.supportBox h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.supportBox p {
  font-size: 18px;
  color: #4b5563;
  line-height: 25px;
}

/* questions section */
.questions {
  border-radius: 15px;
  padding: 20px;
  box-shadow: -2px 5px 6px rgba(0, 0, 0, 0.12), 2px -3px 2px rgba(0, 0, 0, 0.08);
}
.questionsHeader {
  text-align: center;
}
.questionsHeader h1 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #1f2937;
}
.questionsHeader p {
  font-size: 20px;
  color: #4b5563;
}

/* accardion */
.question {
  margin: 20px 0;
}

.questionOpen img {
  width: 20px;
  height: 20px;
}
.questionOpen {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  width: 900px;
  padding: 15px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 12px;
  border-color: rgb(229, 231, 235);
}
.questionSection {
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  border-color: rgb(229, 231, 235);
  margin: 0px auto;
  width: 900px;
  padding: 15px;
  cursor: pointer;
}
.questionSection img {
  width: 20px;
  height: 20px;
}

.question p {
  border-radius: 12px;
  /* margin-top: 20px; */
  width: 900px;
  margin: 0px auto;
  padding: 15px;
  color: #4b5563;
  border: 2px solid;
  border-top: 0;
  border-color: rgb(229, 231, 235);
}

@media only screen and (max-width: 576px) {
  .text p {
    margin: 15px auto;
    width: 350px;
  }
  .contactBoxes {
    display: flex;
    flex-direction: column;
  }
  .form,
  .supportOptions,
  .questions {
    width: 350px;
  }
  .formWrapper,
  .formHeader {
    display: flex;
    flex-direction: column;
  }
  .form h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .formLabel,
  .categoryForm {
    width: 95%;
  }
  .formEmail {
    margin-top: -30px;
  }
  .formBtn {
    position: relative;
    padding: 10px 90px;
  }

  .formBtn img {
    display: none;
  }
  .questionsHeader h1 {
    font-size: 25px;
  }
  .questionsHeader p {
    width: 300px;
  }
  .accardion {
    width: 350px;
  }
  .questionSection h3 {
    font-size: 10px;
  }
  .questionOpen,
  .questionSection {
    width: 300px;
    line-height: 25px;
  }
  .question p {
    width: 300px;
    line-height: 25px;
  }
}
