* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}
.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
  font: 1.2rem;
}

/* toaster design */

[data-sonner-toast][data-type="error"] {
  background-color: #fef2f2;
  color: #1f2937;
  font-weight: 600;
  font-size: 20px;
}
[data-sonner-toast] {
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  padding: 14px;
}
